{% extends 'hod_template/base_template.html' %}
{% block page_title %}
    Add Student
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Add Student</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                        <form role="form" action="/add_student_save" method="POST" enctype=multipart/form-data>
                            {% csrf_token %}

                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                            <label>GR Number</label>
                                            <input type="text" class="form-control" name="gr_number" placeholder="GR Number">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                          <label>Unique ID Number</label>
                                          <input type="text" class="form-control" name="unique_id" placeholder="Unique ID Number">
                                          </div>
                                      </div>
                              </div>

                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" name="email" id="id_email" placeholder="Enter email">
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                               <label>Password</label>
                                               <input type="password" class="form-control" name="password" placeholder="Password">
                                          </div>
                                      </div>
                              </div>

                              <div class="row">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                               <label>Username</label>
                                               <input type="text" class="form-control" name="username" id="id_username" placeholder="UserName">
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                               <label>First Name</label>
                                               <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                          </div>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="form-group">
                                               <label>Last Name</label>
                                               <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                          </div>
                                      </div>
                              </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Father Name</label>
                                                    <input type="text" class="form-control" name="father_name" placeholder="Father Name">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Mother Name</label>
                                                    <input type="text" class="form-control" name="mother_name" placeholder="Mother Name">
                                              </div>
                                          </div>
                              </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Birth Date</label>
                                                    <input type="date" class="form-control" name="birth_date" placeholder="Birth Date">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Birth Place</label>
                                                    <input type="text" class="form-control" name="birth_place" placeholder="Birth Place">
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Religion</label>
                                                    <input type="text" class="form-control" name="religion" placeholder="Religion">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Last School Attended</label>
                                                    <input type="text" class="form-control" name="last_school" placeholder="Last School">
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Address Line1</label>
                                                    <input type="text" class="form-control" name="address1" placeholder="Address Line1">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Address Line2</label>
                                                    <input type="text" class="form-control" name="address2" placeholder="Address Line2">
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" name="city" placeholder="City">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" class="form-control" name="state" placeholder="State">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>Pincode</label>
                                                    <input type="text" class="form-control" name="pincode" placeholder="Pincode">
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                    <label>Primary Contact Number</label>
                                                    <input type="text" class="form-control" name="contact_number_primary" placeholder="Primary Contact Number">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                    <label>Contact Number of Parents</label>
                                                    <input type="text" class="form-control" name="contact_number_parents" placeholder="Contact Number of Parents">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                    <label>Contact Number With WhatsApp</label>
                                                    <input type="text" class="form-control" name="contact_number_whatsapp" placeholder="Contact Number With WhatsApp">
                                              </div>
                                          </div>
                                          <div class="col-md-3">
                                              <div class="form-group">
                                                   <label>Contact Number of Relative</label>
                                                   <input type="text" class="form-control" name="contact_number_relative" placeholder="Contact Number of Relative">
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Standard</label>
                                                    <select class="form-control" name="course">
                                                        {% for course in courses %}
                                                            <option value="{{ course.id }}">{{ course.course_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label for="session">Session</label>
                                                    <select class="form-control" name="session" id="session">
                                                        {% for session in sessions %}
                                                            <option value="{{ session.id }}">{{ session.session_start_year }} TO {{ session.session_end_year }}</option>
                                                        {% endfor %}
                                                    </select>
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>Hostel</label>
                                                    <select class="form-control" name="hostel">
                                                        {% for hostel in hostels %}
                                                            <option value="{{ hostel.id }}">{{ hostel.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>Room Number</label>
                                                    <input type="text" class="form-control" name="room_number" placeholder="Room Number">
                                              </div>
                                          </div>
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                    <label>Locker Number</label>
                                                    <input type="text" class="form-control" name="locker_number" placeholder="Locker Number">
                                              </div>
                                          </div>
                                        </div>

                              <div class="row">
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Bedding Provided</label>
                                                    <select class="form-control" name="bedding_provided">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                    <label>Dish Provided</label>
                                                    <select class="form-control" name="dish_provided">
                                                        <option>Yes</option>
                                                        <option>No</option>
                                                    </select>
                                              </div>
                                          </div>
                                </div>

                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                           <label>Admission Date</label>
                                            <input type="date" class="form-control" name="admission_date">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                             <label>UID</label>
                                             <input type="text" class="form-control" name="uid" placeholder="UID">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                            <label>Bank Balance</label>
                                            <input type="text" class="form-control" name="bank_balance" placeholder="Bank Balance">
                                      </div>
                                  </div>
                                </div>

                              <div class="form-group">
                                <label>Profile Pic</label>
                                <input type="file" class="form-control" name="profile_pic">
                              </div>
                              <div class="form-group">
                                <div class="row">
                                  {% if messages %}
                                  {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                      <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
                                    {% endif %}
                                    {% if message.tags == 'success' %}
                                      <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
                                    {% endif %}
                                  {% endfor %}
                                  {% endif %}
                                </div>
                              </div>

                    <!-- /.card-body -->

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Student</button>
                    </div>
                  </form>
                  </div>
                </div>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script>
   $(document).ready(function () {
       $("#id_email").keyup(function () {
           var email=$(this).val();

           if(email!=""){
           $.ajax({
               url:'{% url 'check_email_exist' %}',
               type:'POST',
               data:{email:email}
           })
               .done(function (response) {
                  console.log(response);
                  if(response=="True"){
                      $(".email_error").remove();
                      $("<span class='email_error' style='padding: 5px; color: red; font-weight: bold'>Email Not Available</span>").insertAfter("#id_email");
                  }
                  else {
                      $(".email_error").remove();
                      $("<span class='email_error' style='padding: 5px; color: green; font-weight: bold'>Email Available</span>").insertAfter("#id_email");
                  }
               })
               .fail(function () {
                   console.log("Failed..");
               })
           }
           else {
               $(".email_error").remove();
           }

       });

       $("#id_username").keyup(function () {
           var username=$(this).val();

           if(username!=""){
           $.ajax({
               url:'{% url 'check_username_exist' %}',
               type:'POST',
               data:{username:username}
           })
               .done(function (response) {
                  console.log(response);
                  if(response=="True"){
                      $(".username_error").remove();
                      $("<span class='username_error' style='padding: 5px; color: red; font-weight: bold'>Username Not Available</span>").insertAfter("#id_username");
                  }
                  else {
                      $(".username_error").remove();
                      $("<span class='username_error' style='padding: 5px; color: green; font-weight: bold'>Username Available</span>").insertAfter("#id_username");
                  }
               })
               .fail(function () {
                   console.log("Failed..");
               })
           }
           else {
               $(".username_error").remove();
           }
       });
   }) 
</script>
{% endblock custom_js %}
