{% extends 'hod_template/base_template.html' %}
{% block page_title %}
Add Item To Retail Store Inventory
{% endblock page_title %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Inventory Item Details</h3>
                  </div>
                  <!-- /.card-header -->
                  <!-- form start -->
                  <form role="form" action="/add_item_inventory_save" method="POST">
                    {% csrf_token %}
                    <div class="card-body">

                      <div class="form-group">
                        <label>Serial Number</label>
                        <input type="text" class="form-control" name="serial_number" placeholder="Enter Serial Number">
                      </div>

                      <div class="form-group">
                        <label>Item Name</label>
                        <input type="text" class="form-control" name="item_name" placeholder="Enter Item Name">
                      </div>

                      <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="form-control" name="quantity" placeholder="Quantity">
                      </div>

                      <div class="form-group">
                        <label>Price</label>
                        <input type="text" class="form-control" name="price" placeholder="Enter Price">
                      </div>
                      
                      <div class="form-group">
                        <div class="row">
                          {% if messages %}
                          {% for message in messages %}
                            {% if message.tags == 'error' %}
                              <div class="alert alert-danger" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                              <div class="alert alert-success" style="margin-top: 10px">{{ message }}</div>
                            {% endif %}
                          {% endfor %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <!-- /.card-body -->
    
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Item</button>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}