
{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Warden Profile | Name : {{ warden.admin.first_name }} {{ warden.admin.last_name }}
{% endblock page_title %}
{% block main_content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card" >
                  <img src="{{ warden.profile_pic }}" class="profile-user-img img-circle" alt="Profile Picture"/>
                  <div class="card-body">
                    <h2 class="card-title "><b>{{ warden.admin.first_name }} {{ warden.admin.last_name }}</b></h2>

                  </div>
                  <ul class="list-group list-group-light list-group-small">
                      <li class="list-group-item px-4"><b>Address:</b> {{ warden.address }}</li>
                      <li class="list-group-item px-4"><b>Phone Number:</b> {{ warden.contact_number }}</li>
                      <li class="list-group-item px-4"><b>Email Address:</b> {{ warden.admin.email }}</li>
                      <li class="list-group-item px-4"><b>Hostel:</b> {{ warden.hostel_id.name }}</li>
                  </ul>
                  <div class="card-body">

                    <a href="{% url 'manage_warden' %}" class="card-link btn btn-info"> Manage Staff</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main_content %}
